@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Wet+Paint&display=swap');

nav{
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    font-family: "Inter";
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    height: 40px;
}
.navbar .logo span {
    font-size: 24px;
    color: #00A0A0;
    margin-left: 10px;
}
.navbar .nav-links {
    display: flex;
    align-items: center;
    
}
.navbar .nav-links a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 14px;
    

}


.navbar .nav-links .register {
    font-family: "Inter";
    color: #000000;
    opacity: 40%;
    left: 1129px;
    top: 37px;
    height: 17px;
    width: 146px;
}

.navbar .nav-links .register {
    font-family: "Inter";
    font-weight: 400;
    size: 14px;
    line-height: 16.94px;
    letter-spacing: 1%;
}

.navbar .nav-links .divider {
    height: 26px;
    width: 2px;
    background-color: #029491;
    margin: 0 15px;
}
.divider{
    opacity: 60%;
   
}

.login-btn{
    color: rgb(0, 0, 0);
    border: none;
    background-color: #7CE3E1;
    font-family: "Inter";
    border-radius: 5px;
    width: 65px;
    height: 26px;
    font-size: 14px;
}