@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');








/* Обертка для контента заголовка */
.wrapper {
    max-width: 1440px; /* Максимальная ширина */
    height: 93px;
    margin: 0 auto; /* Центрирование */
     /* Горизонтальные отступы */
}

/* Внутренняя обертка заголовка */
.header__wrapper {
    display: flex; /* Используем flexbox для выравнивания элементов */
    justify-content: space-between; /* Распределяем элементы по краям */
    align-items: center; /* Вертикальное выравнивание по центру */
}

/* Логотип */
.header__logo {
    flex: 0 1 auto; /* Логотип не растягивается */
}

.header__logo-link {
    text-decoration: none; /* Убираем подчеркивание */
    
}

.header__logo-pic {
    
    padding-left: 60px; /* Максимальная высота логотипа */
}

/* Навигация */
.header__nav {
    flex: 1px;
    padding-left: 120px; /* Занимаем оставшееся пространство */

}

.header__list {
    list-style: none; /* Убираем маркеры списка */
    display: flex; /* Используем flexbox для списка */
    justify-content: center; /* Центрируем элементы списка */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    font-family: "Inter", serif;

    
}

.header__item {
    margin: 0 30px; /* Отступы между элементами списка */
}

.header__link {
    text-decoration: none; /* Убираем подчеркивание */
    color: #000000; /* Цвет текста */
    font-weight: 400; /* Жирность текста */
    transition: color 0.3s; /* Плавный переход цвета */
    font-size: 14px;

}

.header__link:hover {
    color: #007bff; /* Цвет при наведении */
}

/* Правая секция заголовка */
.header__right-section {
    
    display: flex; /* Используем flexbox для выравнивания */
    align-items: center; /* Вертикальное выравнивание по центру */
}

.header__reg-block {
    display: flex; /* Используем flexbox для выравнивания */
    align-items: center; /* Вертикальное выравнивание по центру */
    padding-right: 60px;
}

.header__reg {
    text-decoration: none; /* Убираем подчеркивание */
    color: #000000; /* Цвет ссылки */
    margin-right: 18px; /* Отступ справа */
    opacity: 40%;
    width: 146px;
    height: 17px;
}

.header__vertical-divider {
    width: 2px; /* Ширина разделителя */
    height: 26px; /* Высота разделителя */
    background-color: #029491;/* Цвет разделителя */
    opacity: 60%;
    margin-right: 20px; /* Отступ справа */
    top: 33px;

}

.header__login-button {
    background: #7CE3E1; /* Цвет фона кнопки */
    color: rgb(0, 0, 0); /* Цвет текста кнопки */
    border: none; /* Убираем рамку */

    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор при наведении */
    width: 65px;
    height: 26px;
    
}

.header__login-button a{
    text-decoration: none; /* Убираем подчеркивание */
    color: rgb(0, 0, 0); /* ��вет текста кнопки */
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: left;

}